<%= link_to 'Logout', users_sign_out_path %>

<h1>New post</h1>

<%= form_with model: @post, url: user_posts_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder: "Title" %>
  </div>
  <div class="mb-3">
    <%= form.label :text %>
    <%= form.text_area :text, class:"form-control", placeholder: "Text" %>
  </div>
  <div class="mb-3">
    <%= form.submit  "Add Post", class:"btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>
